<%= turbo_stream.update "tracks_list" do %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @tracks.each do |track| %>
      <%= render "tracks/track_card", track: track %>
    <% end %>
  </div>

  <% if @tracks.next_page %>
    <%= turbo_frame_tag "tracks_list_#{@tracks.next_page}", loading: :lazy,
        src: tracks_path(page: @tracks.next_page, q: params[:q]) do %>
      <div class="mt-8 text-center text-gray-400">
        Loading more tracks...
      </div>
    <% end %>
  <% end %>

  <% if @tracks.empty? %>
    <div class="text-center py-12">
      <h3 class="text-xl font-semibold mb-2">No tracks found</h3>
      <p class="text-gray-400">Try adjusting your search criteria</p>
    </div>
  <% end %>
<% end %>
