
  <div id="main-player"
    data-controller="audio-player"
    data-audio-player-id-value="<%= track.id %>"
    class="z-50 fixed bottom-0 w-full h-[6rem]-- py-2 bg-transparent sm:bg-default border-t dark:border-none border-muted-">
</div>

