<div>
  <div class="mt-1">
    <%= f.text_field :title,
        label: 'Display Title (optional)', 
        class: 'shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md',
        placeholder: f.object.class.name.demodulize.titleize.gsub('Link', '') %>
  </div>
</div>
