<p>Hello <%= @user.full_name || @user.email %>,</p>

<p>Your video has been generated and is ready to download.</p>

<p>
  <a href="<%= @video_url %>">Download your video</a>
</p>

<p>Thank you for using our service!</p>
