<section class="px-4 sm:px-8 py-12 md:py-24 bg-black">
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between items-center mb-8 md:mb-12">
      <h2 class="text-2xl md:text-3xl font-bold">New Releases</h2>
      <%= link_to tracks_path, class: "group flex items-center gap-2 text-sm font-medium hover:text-primary transition-colors" do %>
        VIEW ALL 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right w-4 h-4 group-hover:translate-x-1 transition-transform">
          <path d="M5 12h14"></path>
          <path d="m12 5 7 7-7 7"></path>
        </svg>
      <% end %>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
      
      <% Track.published.latests
        .with_attached_cover
        .includes(user: { avatar_attachment: :blob })
        .limit(12).each do |track| %>
        <%= render "tracks/track_cell", track: track %>
      <% end %>
    </div>
  </div>
</section>