<div class="container">
  <h1>New Music Product</h1>
  <%= render 'form', product: @product %>
  <%= link_to 'Back', user_products_music_index_path(current_user.username), class: 'btn btn-link' %>
</div>
