<div class="flex items-center justify-between p-5">
  <h3 class="text-lg font-medium text-default">
    <%= title %>
  </h3>
  <button type="button" data-action="accordeon#toggle" class="text-gray-400 hover:text-gray-500">
    <span class="sr-only">Toggle section</span>
    <svg class="h-6 w-6" data-accordeon-target="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg>
  </button>
</div>
