<div class="py-2 fixed bottom-[97px] w-full bg-emphasis left-0 border-t border-muted">
  
  <div class="flex space-x-2 items-center p-6">
    
    <%= form.submit %>

    <% if form.object.errors.any? %>
      <div class="py-3">
        <p class="text-danger text-red-500 text-2xl">Errors Found</p>
        <%= form.object.errors.full_messages.join(" ") %>
      </div>
    <% end %>

  </div>
</div>