<div class="py-2 fixed bottom-[97px] w-full bg-emphasis left-0 border-t border-muted">
  
  <div class="flex space-x-2 items-center justify-end p-6">
    <%= form.submit %>
  </div>

  <%= render 'products/shared/form_errors', form: form %>

</div>