<h2>Event Attendees Export - <%= @event_title %></h2>

<p>Your requested attendees list export for "<%= @event_title %>" is attached to this email.</p>

<p>The CSV file contains the following information:</p>
<ul>
  <li>Attendee ID</li>
  <li>Name</li>
  <li>Email</li>
  <li>Ticket Title</li>
  <li>Ticket Price</li>
  <li>Status</li>
  <li>Purchase Date</li>
  <li>Check-in Status</li>
  <li>Check-in Time</li>
</ul>

<p>Best regards,<br/>
The Rauversion Team</p>
