<h1><%= t('notification_mailer.new_message.greeting', recipient: @recipient.username) %></h1>

<p><%= t('notification_mailer.new_message.body', sender: @sender.username) %></p>

<p>
  <%= link_to t('notification_mailer.new_message.view_conversation'),
      conversation_url(@conversation), 
      class: 'button' %>
</p>

<p><%= t('notification_mailer.new_message.footer') %></p>
